/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);


 * {
   margin: 0 auto;
   /*background-color: #BE90D4;*/
 }

 body {
   margin: 0 auto;
   background-color: #BE90D4;
   font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
   color: #663399;
 }
 /*663399*/

 #container {
   margin: 20px;
   text-align: center;
   background-color: #BE90D4;
 }

 main {
   background-color: #BE90D4;
   margin: 10px;
   /*padding: 20px;*/

 }


 form {
   margin-top: 30px;
   margin-bottom: 20px;
   width: 600px;
 }

 /*####################### Links site wide ####################*/

 a {
   text-decoration: none;
   color: #663399;
 }

 a:hover {
   text-decoration: none;
   color: #9A12B3;
 }


 /*#################### Navigation ##########################*/

 nav {
   text-align:center;
   padding: 10px 0;
   margin:20px 0 0;
 }

 nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
 }

 nav li {
   display: inline-block;
 }

 nav a {
   font-weight: normal;
   padding: 15px 10px;
 }

 nav form {
   margin: 0px;
   width: 100px;
 }


 /*############# Sign up page ########################*/

 #sign_up_form form {
   margin-top: 30px;
   margin-bottom: 20px;
   width: 200px;
   /*margin-right: 0px;*/
 }

 #sign_up_form label {
   padding: 10px;
 }

#sign_up_form input[type='text'], input[type='password'] {
   margin-bottom: 10px;
}

 /*#################### Products ########################*/

 #products_list ul{
   list-style: none;
   padding: 0;
   text-decoration: none;
   margin:5px;
 }


 /*###############################*/


 #product-item-view, #new-order-view {
   width: 75%;
 }

 #product-item-view h2, h3 {
   line-height: 2;
 }

 #product-item-view p {
   margin-top: 20px;
   font-weight: bold;
 }

 /*####################################*/

 #new-order-view h2, h3 {
   line-height: 2;
 }

 #new-order-view p {
   margin-top: 20px;
 }

 /*#################### Cart View ########################*/

 #cart-view {
   width: 50%;
 }

 #cart-view li form {
   margin: 0;
   width: 100px;
   display: inline-block;
   /*float: right;*/
 }

 #cart-view ul{
   /*margin-top: 40px;*/
   list-style: none;
   padding: 0;
   text-decoration: none;
   /*margin:5px;*/
 }

 #cart-view ul li {
   padding: 5px;
   border-top: 1px solid #173A36;
 }

 .remove-all {
   width: 75%;
 }


 /*######## Footer ########*/

 footer {
   margin-top: 30px;
 }


















