

<div id = "product-item-view">

  <h1><%= @product.name %></h1>

  <h3><%= @product.description %></h3>

  <p>Price: $<%= '%.2f' % @product.price %></p>


  <%= button_to 'Place Order', orders_path, params: {product_id: @product.id} %>

  <p>To place an order please sign in or create an account by signing up</p>

</div>
